* { margin: 0;
  padding: 0;
} 
body {width: 1200px;
}
.header { 
    width: 1200px;
    border: 2px solid rgb(255, 110, 110)  
 }
.section_1 {
    width: 1200px;
    border: 2px solid rgb(135, 114, 255)   
}
.section_2 {
    width: 1200px;
    border: 2px solid rgb(22, 22, 20)   
}
.section_3 {
    width: 1200px;
    border: 2px solid rgb(135, 114, 255)   
}
.section_4 {
    width: 1200px;
    border: 2px solid rgb(135, 114, 255)   
}

.block {
    margin-bottom: 10px;
    padding: 10px;  
}
 
 ul {
    width: 500px;
}
.i {width: 1100px;
    min-height: 100px;
    border: 4px solid rgb(76, 0, 255) 
}
.data {float: left;
    width: 500px;
    border: 2px solid red  
}

.image {float: right;
    
    width: 200px;
    border: 2px solid red
}
.projects {width: 500px;
    border: 2px solid red   
}
.services {width: 500px;
    border: 2px solid red  
}
.list {
    float: right;
    width: 500px;
    border: 2px solid red
}
.process {width: 500px;
    border: 2px solid red
}
.perechen {width: 500px;
    border: 2px solid red 
}
.contacts {
    border: 2px solid red;
    width: 1200px;
}