* {
    box-sizing: border-box; 
    margin:0; 
} 

body {
    margin: 10px;
    padding: 10px;
    background: rgba(242, 221, 100, 0.4);
}
header {
    display: flex;
    flex-flow:row-reverse;
    padding: 0;
   
    border: 2px solid rgb(135, 114, 255);
    height: 5vh; 
}
menu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 2px solid rgb(110, 255, 117); 
    font-size: 1em; 
    list-style: none;
    width: 60%;
     
 }

.section_1 {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(135, 114, 255); 
       
}
.data {
    width: 45%;
    border: 2px solid red;   
}

.image {  
    width: 50%;
    border: 2px solid red;
}
.section_2 { 
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(22, 22, 20);  
    h  
}
.projects {
    width: 45%;  
    border: 2px solid red;       
}
.descr {
    width: 50%;
    border: 2px solid red;
}

.section_3 { 
    display: flex; 
    justify-content: space-around; 
    border: 2px solid rgb(135, 114, 255); 
      
}
.services { 
    width: 45%;
    border: 2px solid red; 
}
.services-list {
    width: 50%; 
    border: 2px solid red;
}
.section_4 {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(135, 114, 255);
      
}
 
.process {
    width: 45%;
    border: 2px solid red;
}
.process-list {
    width: 50%;
    border: 2px solid red; 
}
.contacts {
    border: 2px solid red;
    height: 15vh;
}